<header id="page-header">
  <div>
    <div>
      <img src="./images/profile-hex.png" />
    </div>
    <br />
    <div>
      <% if (error === null) { %>

      <h2 id="your-name"><%= user.firstName + ' ' + user.lastName%></h2>

      <% } else { %>
      <h2 id="your-name">Hello Visitor</h2>
      <% } %>
    </div>
  </div>
</header>
