<header id="page-header">
  <div>
    <div>
      <img src="./images/profile-hex.png" />
    </div>
    <br />
    <div>
      <% console.log('username: ', user.name) %> <% console.log('user: ', user)
      %>
      <h2 id="your-name"><%= user.firstName + ' ' + user.lastName%></h2>
    </div>
  </div>
</header>
