<!-- Top nav bar (fixed) -->
<nav>
  <div class="navbar-left">
    <span>tweeter</span>
  </div>
  <div class="navbar-right">
    <% if(error !== null) {%>
    <form method="GET" action="/login">
      <button class="nav-button">Login</button>
    </form>
    <form method="GET" action="/register">
      <button class="nav-button">Register</button>
    </form>
    <%}%> <% if (error === null) { %>
    <a id="write-new-tweet" href="#"><strong>Write</strong> a new tweet</a>
    <i class="fas fa-angle-double-down"></i>
    <% } %>
  </div>
</nav>
