<!-- Top nav bar (fixed) -->
<nav>
  <% console.log('this loaded') %>
  <div class="navbar-left">
    <span>tweeter</span>
  </div>
  <div class="navbar-right">
    <form method="GET" action="/login">
      <button class="nav-button">Login</button>
    </form>
    <form>
      <button class="nav-button">Register</button>
    </form>
    <a id="write-new-tweet" href="#"><strong>Write</strong> a new tweet</a>
    <i class="fas fa-angle-double-down"></i>
  </div>
</nav>
