<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Meta Information -->
    <title>Tweeter - Login Page</title>

    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"
      type="text/css"
    />

    <!-- Custom Fonts -->
    <link
      href="https://fonts.googleapis.com/css2?family=Bungee&family=Source+Sans+Pro:ital,wght@0,300;0,700;1,300;1,700&display=swap"
      rel="stylesheet"
    />

    <!-- Font Awesome Icons -->
    <script
      src="https://kit.fontawesome.com/761f8ea60c.js"
      crossorigin="anonymous"
    ></script>

    <!-- Bootstrap -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />

    <!-- App CSS -->
    <link rel="stylesheet" href="/styles/login.css" type="text/css" />
    <link rel="stylesheet" href="/styles/nav.css" type="text/css" />
    <link rel="stylesheet" href="/styles/header.css" type="text/css" />
    <link rel="stylesheet" href="/styles/new-tweet.css" type="text/css" />
    <link rel="stylesheet" href="/styles/all-tweets.css" type="text/css" />
    <link rel="stylesheet" href="/styles/alert.css" type="text/css" />
    <link rel="stylesheet" href="/styles/scroll-button.css" type="text/css" />

    <!-- External JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- App JS -->
    <script type="module" src="/scripts/client.js"></script>
  </head>

  <body>
    <!-- Top nav bar (fixed) -->
    <%- include("partials/_nav") %>
    <main>
      <div id="register-wrapper">
        <form method="POST" action="/register">
          <div class="form-group">
            <label for="username-form">Username</label>
            <input
              name="username"
              type="username"
              class="form-control"
              id="username-form"
              placeholder="Enter username"
            />
          </div>
          <div class="form-group">
            <label for="email-form">Email</label>
            <input
              name="email"
              type="email"
              class="form-control"
              id="email-form"
              placeholder="Enter email"
            />
          </div>
          <div class="form-group">
            <label for="password-form">Password</label>
            <input
              name="password"
              type="password"
              class="form-control"
              id="password-form"
              placeholder="Password"
            />
          </div>
          <div class="form-group">
            <label for="password2-form">Enter Password Again</label>
            <input
              name="password2"
              type="password"
              class="form-control"
              id="password2-form"
              placeholder="Enter Password Again"
            />
          </div>

          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>

      <div class="alert alert-warning d-none"></div>
    </main>

    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
      integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
