$headerOrage: #f09f27;
$navBlue: #4056a1;

//  Creates bounce animation to be bound to the icon
@keyframes bounce {
  0%,
  20%,
  60%,
  100% {
    transform: translateY(0);
  }

  40% {
    transform: translateY(8px);
  }

  80% {
    transform: translateY(3px);
  }
}

nav {
  display: flex;
  height: 80px;
  background-color: $headerOrage;
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-dark.png");
  color: #ffffff;
  padding: 1.5em;
  position: sticky;
  top: 0;
  justify-content: space-between;
  align-items: center;

  .navbar-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    a {
      font-size: 1.25rem;
      margin-bottom: 0.25rem;
      color: #ffffff;
      text-decoration: none;
    }

    i {
      position: relative;
      top: 0;
      font-size: 1.25rem;
    }
  }
}

.navbar-right:hover > i {
  animation: bounce 1s;
  animation-iteration-count: infinite;
}

span {
  font-family: "Bungee", sans-serif;
  font-size: 2rem;
}

@media only screen and (min-width: 1024px) {
  nav {
    background-color: $navBlue;
    background-image: none;

    i {
      color: $headerOrage;
    }
  }
}
