.new-tweet {
  margin-top: 2rem;
  width: 60%;
  margin-bottom: 2rem;
}
button {
  background-color: #4056a1;
  color: #ffffff;
  border: none;
}

textarea {
  border-left: none;
  border-right: none;
  border-top: none;
  border-bottom: 3px solid black;
  width: 100%;
  background-color: #f4f1ec;
  height: 2.5rem;
  font-size: 1rem;
}

textarea::placeholder {
  font-size: 1.2rem;
  font-weight: bold;
}

textarea:focus {
  outline: none;
}

footer {
  display: flex;
  font-family: "Bungee", sans-serif;
  justify-content: space-between;
  align-items: center;
}
