#scroll-button-container {
  display: none;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  background-color: #f09f27;
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-dark.png");

  position: fixed;
  bottom: 1rem;
  right: 1rem;
  justify-content: center;
  align-items: center;
}
#scroll-button {
  text-decoration: none;
}

#scroll-button i {
  display: flex;
  color: #ffffff;
  font-size: 2rem;
}
